/*--css--document--*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration:none;
	list-style:none;
	background: transparent;
	font-family: Microsoft Yahei;
}
nav{
	color: #FFFBFA;
}
a{
	color: inherit;
	text-decoration: none;
}
a:visited{
	color: inherit;
}
#mybody{
	background-image: linear-gradient(145deg,#EFFCFE,#92EAFD)
}
#nav1{
	height: 45px;
	background-color: #2B303B;
	font-size: 15px;
	line-height: 35px;
}
#menu{
	width: 90px;
	height: 45px;
	color: #F2F2F2;
	line-height: 45px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}
#menu:hover{
	color: #74C8FF;
}
#nav1_left{
	color: #BABABA;
	float: left;
	cursor: default;
}
#nav1_right{
	width: 160px;
	height: 45px;
	float: right;
	filter: brightness(80%);
}
#nav1_right:hover{
	filter: brightness(100%);
	cursor: pointer;
}
#nav1_right>img{
	height: 40px;
}
#nav1_right>div{
	width: 100px;
	display: inline-block;
	vertical-align: middle;
}
#nav2{
	height: 55px;
	background-color: #0071BC;
}
#nav2_left{
	height: 55px;
	float: left;
	line-height: 55px;
	font-size: 18px;
	margin-bottom: 0;
}
#nav2_left li{
	display: inline-block;
	padding: 0 20px;
}
#nav2_left li:hover{
	color: #FFFBFA;
	background-color: rgba(255,255,255,0.2);
	cursor: pointer;
}
#nav2_right{
	height: 55px;
	line-height: 55px;
	float: right;
	margin-right: 20px;
	margin-bottom: 0;
}
#nav2_right li{
	display: inline-block;
	padding: 0 8px;
	font-size: 13px;
}
#nav2_right li:hover{
	color: #74C8FF;
	cursor: pointer;
}
#nav2_sign{
	width: 60px;
	height: 4px;
	position: absolute;
	transition: left 0.2s;
	top: 45px;
	left: 8px;
}
#nav2_sign>div{
	width: 30px;
	height: 4px;
	margin: 0 auto;
	background-color: #74C8FF;
	border-radius: 3px;
}
#sidebar{
	width: 200px;
	height: 100%;
	padding-top: 20px;
	background-color: #EFFCFE;
	position: absolute;
	transition: left 0.2s;
	top: 45px;
	left: -210px;
	z-index: 100;
	box-shadow: 10px 0 10px rgba(0,0,0,0.1);
}
#sidebar li{
	height: 35px;
	line-height: 35px;
	padding-left: 1em;
	font-size: 15px;
	cursor: pointer;
}
#sidebar li:hover{
	background-color: #1EA2E5;
	color: #FFFBFA;
}
.side_line{
	width: 80%;
	height: 1px;
	margin: 10px auto;
	background-color: rgba(136,136,136,0.2);
}
#main_iframe{
	width: 100%;
	height: 1000px;
	background-color: transparent;
}
footer{
	height: 220px;
	margin-top: 0;
	background-color: #2B303B;
	font-size: 20px;
	color: #FFFBFA;
	text-align: center;
	padding: 60px 0;
}
footer>div>img{
	height: 70px;
	margin-right: 40px;
}