/*导航栏整体*/
.navbar{
	transition: all 0.3s;
	min-height: 70px;
	border-color: transparent;
	background-color: #FFF;
	box-shadow:0 0 9px 3px rgba(50,29,154,.2);
	font-size: 16px;
	font-weight: 500;
	z-index: 10000;
}
.navbar>div{
	max-width: 1170px;
} 
.navbar>div>div{
	margin-top: 10px;
}
.navbar-collapse{
	max-height: inherit !important;
	border-top: 0;
}
/*左端图片*/
.navbar-header img{
	height: 55px;
	margin-right: 20px;
	position: absolute;
}
.navbar-header>a{
	position: relative;
}
/*标签*/
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus{
	color: #0a8aff;
	padding: 15px 15px;
	transition: color 0.2s;
	background-color: inherit;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.active>a:hover{
	background-color: inherit;
	color: #321D9A;
}
/*.active标签上方蓝条*/
.navbar-inverse .navbar-nav>span{
	content: "";
	position: absolute;
	top: 0px;
	transition: all 0.3s;
	border-top: 3px solid #008ded;
}
/*左侧标签*/
.navbar-left{
	margin-left: 150px;
}
/*右侧标签*/
.nav.navbar-nav.navbar-right>li>a:hover{
	color: #2cd4d9;
}
/*下拉标签*/
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus{
	background-color: transparent;
}
.navbar-inverse .navbar-nav>.dropdown>a>span{
	transition: transform 0.4s;
}
.navbar-inverse .navbar-nav>.open>a>span{
	transform: rotate(180deg);
	transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
/*下拉框*/
.dropdown-menu{
	display: none;
	animation: dropdown 0.8s;
	overflow: hidden;
	border-radius: 8px !important;
	background-color: rgba(255,255,255,0.9);
	border-color: rgba(50,29,154,.2);
	box-shadow:0 0 5px 0px rgba(50,29,154,.2);
}
.dropdown-menu>li{
	position: relative;
	display: none;
	left: 0;
	animation: rightin 0.5s;
}
.dropdown-menu>li>a{
	padding: 8px 20px;
	color: #080245;
}
.dropdown-menu>li>a:hover{
	color: #0a8aff;
	background-color: inherit;
}
@keyframes dropdown{
	from{height: 0;}
}
@keyframes rightin{
	from{
		left: 50px;
		opacity: 0;
	}
}
/*导航栏按钮*/
.navbar-right>a>button{
	margin-top: 3px;
	margin-left: 15px;
	color: #FFFFFF;
	border: 0;
	background: linear-gradient(30deg,transparent,transparent,transparent,#008ded,#008ded,#00e8d3,#00e8d3,#008ded,#008ded);
	background-size: 800%;
	background-position: 50% 0;
	font-weight: 600;
	box-shadow: 0 0 9px -2px rgba(50,29,154,.2);
	transition: all 0.3s;
}
.navbar-right>a>button:hover{
	color: #FFF;
	background-position: 90% 0 !important;
	transition: background-position 0.5s;
}
.navbar-right>a>button:focus,
.navbar-right>a>button:active{
	color: #FFF !important;
	background-color: #008ded !important;
	border-color: transparent !important;
}
/*导航栏隐藏*/
.navhidden{
	top: -70px;
	opacity: 0;
}
/*菜单按钮动画*/
.navbar-toggle.pull-left{
	border: 0;
}
.navbar-toggle.pull-left:focus,
.navbar-toggle.pull-left:hover{
	background-color: inherit;
}
.navbar-toggle.pull-left>span{
	width: 25px;
	height: 2px;
	margin-bottom: 4px;
	display: block;
	border-radius: 1px;
	background-color: #0a8aff;
	transition: transform 0.3s,opacity 0.3s;
}
.navbar-toggle.pull-left:not(.collapsed)>.first-line{
	transform: rotate(45deg) translate(3.5px,5px);
}
.navbar-toggle.pull-left:not(.collapsed)>.second-line{
	transform: translateX(10px);
	opacity: 0;
}
.navbar-toggle.pull-left:not(.collapsed)>.third-line{
	transform: rotate(-45deg) translate(3px,-5px);
}
/*居于顶部的导航栏样式*/
.navbar.ontop{
	background-color: transparent;
	box-shadow: none;
}
.navbar-inverse.ontop .navbar-nav>li>a,
.navbar-inverse.ontop .navbar-nav>.open>a,
.navbar-inverse.ontop .navbar-nav>.active>a{
	color: #FFF;
}
.navbar-inverse.ontop .navbar-nav>li>a:hover,
.navbar-inverse.ontop .navbar-nav>.open>a:hover,
.navbar-inverse.ontop .navbar-nav>.active>a:hover,
.navbar-inverse.ontop .navbar-nav>li>a:active,
.navbar-inverse.ontop .navbar-nav>.open>a:active,
.navbar-inverse.ontop .navbar-nav>.active>a:active{
	color: #2cd4d9;
}
.navbar-inverse.ontop .navbar-right>a>button{
	box-shadow: none;
	background-position: 0%;
}
.navbar-inverse.ontop .navbar-right>a>button:hover,
.navbar-inverse.ontop .navbar-right>a>button:active{
	background-color: transparent;
	background-position: 50% !important;
}
.ontop .navbar-toggle.pull-left>span{
	background-color: #FFF;
}
/*==导航栏==*/



*{
	font-family: microsoft yahei;
}
a:hover,
a:active,
a:visited{
	color: inherit;
	text-decoration: inherit;
}
.part1{
	color: #FFFFFF;
	position: fixed;
	padding-top: 150px;
	padding-bottom: 200px;
	width: 100%;
	top: 0;
	background-image: linear-gradient(to right,#2A169B,#2CD4D9);
}
.part1>div>div{
	max-width: 1170px;
	position: relative;
	transition: bottom 0.02s;
	z-index: 60;
	animation: topins 1s;
}
.p1_l{
	padding-top: 70px;
}
.p1_text1{
	margin: 30px 0;
	font-weight: 300;
	font-size: 52px;
}
.p1_text1>div{
	display: inline-block;
	position: relative;
	top: -56px;
}
.p1_text1>div>span{
	font-weight: 600;
	position: absolute;
	display: none;
}
.show{
	display: inline-block !important;
	animation: show 0.6s;
}
@keyframes show{
	0%{
		opacity: 0;
		top: -52px;
	}
	80%{
		top: 3px;
	}
	100%{
		opacity: 1;
		top: 0;
	}
}
.p1_text2{
	max-width: 490px;
	margin: 30px 0;
	font-size: 20px;
}
.part1>div>div>div>img{
	width: 100%;
	position: relative;
	z-index: 1;
}
.part1>div>div>div>button{
	margin: 9px 6px;
}
.p1_bt1{
	color: #FFFFFF;
	font-weight: 600;
	background: linear-gradient(150deg,#008ded,#00e8d3,#008ded);
	background-size: 200%;
	border: 0;
	box-shadow: 0 0 5px 2px rgba(50,29,154,.2);
	transition: background-position 0.5s;
}
.p1_bt1:hover{
	color: #FFFFFF;
	background-position: 100% 0;
}
.p1_bt1:focus{
	color: #FFFFFF !important;
	background-position: 100% 0;
	background-color: #008ded !important;
	border: 0 !important;
}
.p1_bt2{
	color: rgba(255,255,255,0.9);
	font-weight: 600;
	background-color: transparent;
	border-color: rgba(255,255,255,0.9);
	transition: background-color 0.2s;
}
.p1_bt2:hover{
	color: #008ded;
	border-color: #008ded;
	background-color: rgba(255,255,255,0.95);
}
.p1_bt2:focus{
	color: #008ded !important;
	border-color: #008ded;
}
.wave,
.bwave{
	max-width: 100%;
	height: 60px;
	position: relative;
	z-index: 100;
	top: -58px;
	background-image: url(pic/wave.png);
	background-repeat: repeat-x;
	animation: wave 10s linear infinite;
}
.bwave{
	top: -2px;
	transform: rotateX(180deg);
}
@keyframes wave{
	0%{background-position: 0 0;}
	100%{background-position: 1443px 0;}
}
.part2{
	background-color: #FFF;
	position: relative;
	z-index: 60;
}
.part2>div>div{
	max-width: 1170px;
	padding: 100px 0;
	border-bottom: 1px solid #F3F3F3;
}
.part2>div>div:nth-last-child(1){
	border-bottom: 0;
}
.p2_l>div{
	width: 65%;
	padding: 20px 50px;
	background-image: url(pic/bg4.svg);
	background-repeat: no-repeat;
}
.p2_r{
	opacity: 0;
}
.p2_1_text1,
.p2_2_text1{
	margin-top: 5px;
	margin-bottom: 25px;
	font-family: STXinwei;
	color: #080245;
	line-height: 1.5;
	font-weight: 700;
	font-size: 32px;
}
.p2_1_text2,
.p2_2_text2{
	max-width: 555px;
	margin: 18px 0;
	font-size: 20px;
	color: #555555;
}
.p2_bt1,
.p2_bt2{
	width: 250px;
	height: 50px;
	margin-top: 40px;
	font-weight: 600;
	color: #008ded;
	border: 1px solid #008ded;
	border-radius: 4px;
}
.p2_bt1:hover,
.p2_bt2:hover{
	border: 1px solid #008ded !important;
	background-color: transparent;
}
.mybtn{
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
}
.mybtn>span{
	position: relative;
	z-index: 2;
	transition: font-size 0.35s;
	transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.mybtn:focus{
	color: #FFF !important;
	border: 1px solid #008ded !important;/*这句不知为何没用*/
	background-color: #FFFFFF !important;
}
.mybtn:hover{
	color: #FFF;
}
.mybtn:hover span{
	color: #FFF;
	font-size: 20px;
}
.mybtn:before{
	top: 90%;
	left: -150%;
	background-color: #008ded;
	transition: all 0.35s;
	content: "";
	width: 250%;
	height: 500%;
	position: absolute;
	transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
	transform: rotate(45deg);
	z-index: 1;
}
.mybtn:focus:before,
.mybtn:hover:before{
  top: -10%;
  left: -35%;
}
.p2_2 img{
	height: 65px;
}
.p2_2_text2{
	max-width: 850px;
	margin: 0 auto;
}
.p2_2_text3{
	font-size: 23px;
	font-weight: 500;
	color: #0a8aff;
	margin: 35px 0;
}
.p2_2_text4{
	font-size: 16px;
	font-weight: 500;
	color: #555555;
	margin: 35px 50px;
}
.carousel{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 !important;
}
.carousel_block{
	width: 100%;
	min-height: 490px;
	padding: 50px 0;
}
.carousel_block>img{
	width: 108px;
	height: 108px;
}
.carousel_text{
	max-width: 920px;
	line-height: 1.5;
	font-size: 23px;
	color: #343434;
	margin-top: 30px;
	padding: 10px 20px;
}
.carousel_text~.carousel_text{
	max-width: 920px;
	line-height: 1.5;
	font-size: 20px;
	color: #777C87;
	margin-top: 30px;
	padding: 10px 20px;
}
.carousel-indicators>li{
	width: 15px;
	height: 15px;
	margin: 0 8px;
	border-color: #B7B7B7;
	background-color: #B7B7B7;
}
.carousel-indicators>.active{
	width: 15px;
	height: 15px;
	margin: 0 8px;
	border-color: #0a8aff;
	background-color: #0a8aff;
}
.carousel-indicators>li:hover{
	border-color: #000;
	background-color: #000;
}
.p2_4_text1{
	font-size: 32px;
	font-family: STXinwei;
	color: #080245;
	font-weight: 700;
	margin-bottom: 40px;
}
.p2_4{
	padding-bottom: 30px !important;
}
.p2_4>.row{
	margin: 0;
}
.p2_4>.row>div{
	transform: scale(0.9);
	background-color: #FFF;
	box-shadow: 0 14px 45px 0 rgba(205,205,205,.35);
	transition: all 0.2s;
}
.p2_4>.row>div:hover{
	transform: scale(0.88);
	box-shadow: 0 4px 20px 0 rgba(205,205,205,.5);
}
.p2_4>.row>div>a>img{
	transform: scale(0.95);
}
.p2_4_text2{
	font-size: 20px;
	font-weight: 500;
	color: #343434;
	margin: 35px 10px 20px 10px;
}
.p2_4_text3{
	font-size: 16px;
	font-weight: 500;
	color: #555555;
	margin: 10px;
	margin-bottom: 80px;
}
.p2_4>.row>div:hover .p2_4_text2{
	color: #2cd4d9;
}
.part3{
	z-index: 60;
	background: linear-gradient(to top,rgb(42,22,155) 39%,rgb(41,137,216) 78%,rgb(44,212,217) 95%);
}
.more:nth-child(1){
	padding-top: 200px;
}
.more{
	padding: 90px 0;
	color: #FFFFFF;
	border-bottom: 1px solid rgba(44,212,217,.2);
}
.more>.text1{
	font-size: 32px;
	font-weight: 500;
}
.more>.text2{
	font-size: 20px;
	font-weight: 400;
	margin-top: 40px;
	margin-bottom: 60px;
}
.more>hr{
	max-width: 165px;
	height: 2px;
	background-image: linear-gradient(to right,rgb(42,22,155) 10%,rgb(41,137,216) 50%,rgb(44,212,217) 95%);
	border:0;
}
.b_top{
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(44,212,217,.2);
}
.b_top>img{
	max-height: 60px;
}
.b_top>.pull-right{
	height: 60px;
	line-height: 60px;
}
.b_top>.pull-right img{
	width: 25px;
	height: 25px;
	margin-left: 15px;
}
.b_bottom>.pull-left>a>span{
	height: 50px;
	color: #36D4ED;
	font-size: 16px;
	line-height: 50px;
	margin-right: 24px;
}
.b_bottom>.pull-left>.btn-group>button{
	border: 0;
	background-color: transparent;
	color: #FFFFFF;
	font-weight: 700;
}
.b_bottom>.pull-left>.btn-group>.dropdown-menu{
	height: 85px;
}
.b_bottom>.pull-left>.btn-group>.dropdown-menu>li{
	display: block;
	animation: none;
}
.b_bottom>.pull-left>.btn-group>.dropdown-menu>.active>a{
	background-color: #36D4ED;
	color: #161616;
}
.b_bottom>.pull-left>.btn-group>.dropdown-menu>li:not(.active)>a:hover{
	background-color: #E9E9E9;
	color: #161616;
	transition: background-color 0.2s;
}
.b_bottom>.pull-right>span{
	height: 50px;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 50px;
}
.scrolltop{
	position: fixed;
	opacity: 0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #008ded;
	right: 0;
	bottom: -50px;
	z-index: 999;
	cursor: pointer;
	transition: all 0.5s;
}
.scrolltop.in{
	bottom: 0px;
	opacity: 1;
}
#egg{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:0;
	z-index: 50;
	animation: easein 0.5s;
}
@keyframes easein{
	from{opacity: 0;}
}
@keyframes small{
	from{transform: scale(.97);}
}
@keyframes scaleins{
	0%{transform: scale(.8);}
	50%{transform: scale(1.02);}
	75%{transform: scale(.99);opacity: 1;}
	100%{transform: scale(1);opacity: 1;}
}
.scalein_s{animation: scaleins 0.9s forwards;}
@keyframes leftins{
	from{
		left: -100px;
		opacity: 0;
	}
	to{
		left: 0;
		opacity: 1;
	}
}
.leftin_s{animation: leftins 1s forwards;}
@keyframes rightins{
	from{
		right: -100px;
		opacity: 0;
	}
	to{
		right: 0;
		opacity: 1;
	}
}
.rightin_s{animation: rightins 1s forwards;}
@keyframes topins{
	from{
		position: relative;
		top: -50px;
		opacity: 0;
	}
	to{
		position: relative;
		top: 0;
		opacity: 1;
	}
}
.topin_s{animation: topins 1s forwards;}
@keyframes bottomins{
	from{
		position: relative;
		bottom: -150px;
		padding-bottom: 0;
		margin-bottom: 0;
		/*opacity: 0;*/
	}
	to{
		position: relative;
		bottom: 0;
		opacity: 1;
	}
}
.bottomin_s{animation: bottomins 2s forwards;}



@media screen and (max-width: 1200px){
	.part1{
		padding: 150px 0px;
	}
	.p1_l{
		padding-top: 0px;
	}
	.p1_ltext2{
		max-width: 750px;
	}
}
@media screen and (max-width: 991px){
	.navhidden{
		display: none;
	}
	.navbar{
		min-height: 50px;
	}
	.navbar-header>a>img{
		position: relative;
	}
	.navbar-header>a>img:nth-child(2){
		display: none;
	}
	.navbar-header img{
		max-height: 45px;
	}
	.navbar-inverse.ontop .navbar-nav>li>a,
	.navbar-inverse.ontop .navbar-nav>.open>a,
	.navbar-inverse.ontop .navbar-nav>.active>a{
		color: #0a8aff;
	}
	.navbar-left{
		margin-left: 0px;
	}
	.navbar-right{
		position: relative;
		left: 15px;
	}
	.navbar-right>.navbar-btn{
		margin-left: 0;
	}
	.navbar-inverse .navbar-nav>li>a{
		color: #FFFFFF;
		height: 50px;
		padding: 15px 15px;
	}
	.navbar-collapse.collapse.in,
	.navbar-collapse.collapsing{
		background-color: #FFF;
		color: #0a8aff;
		overflow-x: hidden;
	}
	.navbar-inverse .navbar-nav>li>a,
	.navbar-inverse .navbar-nav>.active>a{
		color: #0a8aff;
	}
	.dropdown-menu>li>a{
		color: #2cd4d9 !important;
	}
	.dropdown-menu>li>a:hover,
	.dropdown-menu>li>a:active{
		color: #080245 !important;
	}
	.navbar-right>button,
	.navbar-inverse.ontop .navbar-right>a>button,
	.navbar-inverse.ontop .navbar-right>a>button:hover,
	.navbar-inverse.ontop .navbar-right>a>button:active{
		background-position: 50% !important;
	}
	.navbar.ontop{
		background-color: #FFF;
	}
	.p1_text1>div{
		top: 10px;
		left: -40px;
	}
	.ontop .navbar-toggle.pull-left>span{
		background-color: #0a8aff;
	}
	.navbar-inverse .navbar-nav>span{
		content: none;
	}
	/*==导航栏==*/
	.part1{
		padding-top: 50px;
		padding-bottom: 50px;
		position: relative;
		background-image: linear-gradient(130deg,#2A169B,#2CD4D9);
	}
	.part1>div>div{
		position: relative;
		z-index: 8;
		animation: topins 1s;
	}
	.p1_l{
		text-align: center;
	}
	.p1_text1{
		font-size: 30px;
	}
	.p1_text1>div{
		top: -33px;
	}
	.debug{
		opacity: 0;
		display: inline-block !important;
	}
	.p1_text2{
		margin: 30px auto;
	}
	.part2>div>div{
		text-align: center;
		padding: 50px 0;
	}
	.p2_1_text1,.p2_2_text1{
		margin: 20px 20px;
		font-size: 28px;
	}
	.p2_1_text2{
		max-width: 990px;
		margin: 10px 5px;
	}
	.p2_bt1{
		margin: 30px auto;
	}
	.carousel_text{
		line-height: 1.3;
		font-size: 20px;
	}
	.carousel_text~.carousel_text{
		line-height: 1.3;
		font-size: 17px;
	}
	.p2_4>.row>div{
		padding-bottom: 10px;
	}
	.p2_4>.row>div>a>img{
		width: 100%;
	}
	.more{
		padding: 45px 0;
	}
	.b_top>img{
		height: 40px;
	}
	.b_top>.pull-right{
		height: 40px;
		line-height: 40px;
	}
	.b_top>.pull-right img{
		margin-left: 10px;
	}
	.b_bottom>.pull-left>a>span{
		height: 35px;
		line-height: 35px;
		margin-right: 24px;
	}
	.b_bottom>.pull-right{
		margin-top: 18px;
	}
	.b_bottom>.pull-right>span{
		height: 25px;
		line-height: 25px;
	}
	.btn-group>.dropdown-menu>li>a{
		color: #080245 !important;
	}
}