*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    /* background-image: linear-gradient(to right, #61AFD6, #0071B7 , #61AFD6); */
    background-image: linear-gradient(to right, #B0DFE5, #84DAE5, #B0DFE5);
    width: 100%;
    height: auto;
}

hr,
.container-fluid,
.row,
.col-md-1,.col-md-2,.col-md-3,.col-md-9,.col-md-10,
.col-sm-1,.col-sm-3,.col-sm-9,.col-sm-10
.col-xs-1,.col-xs-10{
    padding: 0;
    margin: 0;
    border: 0;
}

/*顶部图片*/

.img1,
.img1>div{
    width: 100%;
    padding: 0;
    margin: 0;
}

.top{
    background-color: #73CFFF;
}

/*////////////////////////////////////////////////以下为手机端/////换顶部大图////////////////////////////////////////*/

/*手机端顶部图片*/

.phone1,
.phone>div{
	width: 100%;
	padding: 0;
	margin: 0;
}

.phone1{
	display: none;
}

@media only screen and (max-width: 991px){
	.img1{
		display: none;
	}
	.phone1{
		display: block;
	}
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\以上为手机端\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/* 主体 */

.back{
    height: auto;
    width: 100%;
}

.left,
.center,
.right{
    height: 100%;
}

.left{
    height: 100px;
}

.center{
    height: auto;
}

.right{
    height: 100px;
}


/* 内部 */

.inmain{
    background-color: rgba(241,247,254,0.5);
    height: 750px;
}

/* 内部左边 */

.inleft{
    height: 100%;
    background-color: #A2D4FB;
    position: relative;
}

/* 顶部图片左下角信工科协大字+切换公告类别选项 */
.over{
    position: absolute;
    top: -60px;
    left: 0;
    height: auto;
    width: 100%;
}

.over>h3{
    text-align: center;
    height: 100px;
    width: 100%;
    line-height: 100px;
    background-color: rgba( 0, 144, 255, 0.9);
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}

.over>a{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.over>a:hover{
    background-color: #0090FF;
    color: #fff;
}

.over_phone{
    display: none;
    background-color: rgba( 0, 144, 255, 0.9);
    height: 30px;
}

.over_phone>a{
    display: block;
    height: 30px;
    float: left;
    color: #fff;
    font-size: 12px;
    margin: 0 12%;
    line-height: 30px;
}

/* ////////////////////////////////////////////////////////以下为手机端///////////////////////////////////////// */

@media only screen and (max-width: 768px){
    .inleft,
    .vertical,
    .change{
        display: none;
    }

    .over_phone{
        display: block;
    }
}

/* ////////////////////////////////////////////////////////以上为手机端///////////////////////////////////////// */



/* 内部右边 */

.inright{
    padding-right: 25px;
    height: 100%;
}

/* ///////////////////////////////////手机端消失/////////////////////////////// */

.vertical{
    float: left;
    margin: 15px 15px 0 50px ;
    background-color: #0090FF;
    height: 30px;
    width: 7px;
}

.change{
    float: left;
    font-weight: bold;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\手机端消失\\\\\\\\\\\\\\\\\\\\\\\\ */

/* 链接首页 */

.con{
    height: 60px;
    line-height: 60px;
    width: 100%;
    padding: 0;
    margin: 0,auto;
}


.con>span:nth-of-type(1){
    float: right;
    margin: 0 10px;
    color: antiquewhite;
}

.con>span:nth-of-type(2){
    float: right;
    font-size: 12px;
    color: #888888;
    margin-right: 10px;
}

@media only screen and (max-width: 768px){
    .con>span:nth-of-type(2){
        display: none;
    }
}

.con>a{
    float: right;
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 1px 1px #000;
    font-size: 16px;
}

.con>a:hover {
    color: #0090FF;
    text-shadow: 2px 1px 1px #000;
}

/*活动公告字*/

.wordleft hr,
.wordright hr{
    border: none;
    margin: 0;
    background-color: #0d67bf;
    height: 1.5px;
    position: absolute;
}

.word{
    width: 100%;
    height: 50px;
}

.wordleft{
    width: 40%;
    height: 50px;
    float: left;
    position: relative;
}

.wordleft hr:nth-of-type(1){
    width: 65%;
    right: 0;
    top: 30px;
}

.wordleft hr:nth-of-type(2){
    width: 85%;
    right: 0;
    top: 40px;
}

.wordleft hr:nth-of-type(3){
    width: 65%;
    right: 0;
    top: 50px;
}

.wordcenter{
    width: 20%;
    height: 50px;
    float: left;
    color: #0d67bf;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
    padding: 25px 0 0;
}

.wordright{
    width: 40%;
    height: 50px;
    float: left;
    position: relative;
}

.wordright hr:nth-of-type(1){
    width: 65%;
    left: 0;
    top: 30px;
}

.wordright hr:nth-of-type(2){
    width: 85%;
    left: 0;
    top: 40px;
}

.wordright hr:nth-of-type(3){
    width: 65%;
    left: 0;
    top: 50px;
}

/* 活动内容 */

.inside{
    padding: 0 10%;
    margin: 50px 0 0;
}

.inside>li{
    height: 55px;
    width: 100%;
    line-height: 55px;
    list-style-type:square;
}

.inside>hr{
    height: 1px;
    width: 80%;
    position: absolute;
    left: 8%;
    background-color: #fff;
}

.inside>li>a{
    font-size: 16px;
    color: #000;
}

.inside>li>a:hover{
    color: #0090FF;
}

.inside>li>span{
    float: right;
    color: #B9B9B9;
}


/* 底部 */

.bottom{
    background-color: #0090FF;
    height: 200px;
    width: 100%;
}

.logo>img{
    /* margin: 3% 0 0 20%; */
    width: 120px;
    height: 120px;
    margin-top: 7%;
    margin-left: 10%;
}

.logo>div{
    color: #fff;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 7%;
}

.bottom_word>a{
    margin: 50px 0 20px;
    display: block;
    color: #fff;
    font-size: 15px;
    text-align: center;
}