{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}Flasky{% endblock %}

{% block content %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
<div class="page-header">
    你现在并未确认账户，请在发送验证邮件1小时内确认
</div>

<a href="{{ url_for('auth.resend_confirmation') }}">重新发送确认邮件</a>
{% endblock %}